<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
<h2>{{ project.name }}</h2>
<h3>Author: {{ project.author.full_name }}</h3>
<p>{{ project.description }}</p>

<a href="{% url 'projects:edit' project.slug %}">Edit</a>
<a href="{% url 'projects:delete' project.slug %}">Delete</a>
<a href="{% url 'projects:create-book' project.slug %}">Add a book</a>
<div
    hx-get="{% url 'books:list' %}"
    hx-swap="innerHTML"
    hx-target="#books"
    hx-trigger="load"
></div>
<div id="books"></div>

