<h2>{{ project.name }}</h2>
<h3>Author: {{ project.author.full_name }}</h3>
<p>{{ project.description }}</p>

<a href="{% url 'projects:edit' project.slug %}">Edit</a>
<a href="{% url 'projects:delete' project.slug %}">Delete</a>
<a href="{% url 'projects:create-book' project.slug %}">Add a book</a>
{% if books %}
    <h3>Books</h3>
    <ul>
    {% for book in books %}
    <li><a href="{% url 'books:detail' book.slug %}">{{ book.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books yet!</p>
{% endif %}
