<div class="container mx-auto mt-10 text-center">
    <h2 class="text-2xl font-bold underline">{{ user.full_name }}'s Projects</h2>
    <a class="bg-blue-500 text-white py-2 px-4 rounded inline-block mt-4 hover:bg-blue-700" href="{% url 'projects:create' %}">Add Project</a>
    <a href="{% url 'projects:worlds:create' %}">Add World</a></li>
    <div class="flex flex-wrap -mx-4 mt-4">
        {% for project in projects %}
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 p-4">
                <div class="bg-white rounded-lg shadow-lg h-full overflow-hidden">
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold mb-2"><a class="text-blue-500 hover:underline" href="{% url 'projects:detail' project.slug %}">{{ project.name }}</a></h3>
                        <p class="text-gray-600">{{ project.description }}</p>
                    </div>
                    <div class="bg-blue-500 text-white py-2 px-4 text-center">
                        <a href="{% url 'projects:detail' project.slug %}">View Project</a>
                    </div>
                </div>
            </div>
            {% cycle "" "" "</div><div class='flex flex-wrap -mx-4 mt-4'>" %}
        {% endfor %}
    </div>
</div>
