<div class="container mx-auto mt-10 text-center">
    <h2 class="text-2xl font-bold underline">All Projects</h2>
    <a class="text-white py-2 px-4 rounded inline-block mt-4 " href="{% url 'projects:create' %}">Add Project</a>
    <a href="{% url 'projects:worlds:create' %}">Add World</a></li>
    <div class="flex flex-wrap -mx-4 mt-4">
        {% for project in projects %}
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 p-4">
                <a href="{% url 'projects:detail' project.slug %}">
                <div class="hover:bg-gray-100  hover:shadow-lg hover:rounded-lg shadow-lg h-full overflow-hidden hover:text-blue-500">
                    <div class="p-6">
                        <h3 class="text-2xl font-semibold mb-2"><a class="text-blue-500 hover:underline" href="{% url 'projects:detail' project.slug %}">{{ project.name }}</a></h3>
                        <p class="">{{ project.description }}</p>
                    </div>
                </div>
                </a>
            </div>
            {% cycle "" "" "</div><div class='flex flex-wrap -mx-4 mt-4'>" %}
        {% endfor %}
    </div>
</div>
