{% load compress %}
{% load static %}
<div class="container mx-auto p-4">
  <div class="p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold">{{ book.name }}</h2>
    <p class="">{{ book.description }}</p>
    <div class="mt-4 flex gap-2">
      <a href="{% url 'books:edit' book.slug %}" class="text-blue-400 hover:underline cursor-pointer">Edit</a>
      <a href="{% url 'books:delete' book.slug %}" class="text-red-500 hover:underline cursor-pointer">Delete</a>
    </div>
    <button
      hx-get="{% url 'books:create-chapter' book.slug %}"
      hx-target="#chapters"
      class="mt-4 px-4 py-2 rounded-md focus:outline-none cursor-pointer"
    >
    Add a chapter
    <img class="htmx-indicator w-5" src="{% static 'spinning-circles.svg' %}">
    </button>

  <a
    class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
    href="{% url 'projects:edit' book.project.slug %}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2 h-5 w-5"
    >
      <path d="M12 22h6a2 2 0 0 0 2-2V7l-5-5H6a2 2 0 0 0-2 2v10"></path>
      <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
      <path d="M10.4 12.6a2 2 0 1 1 3 3L8 21l-4 1 1-4Z"></path>
    </svg>
    Edit
  </a>
  <a
    class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
    href="{% url 'projects:delete' book.project.slug %}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2 h-5 w-5"
    >
      <path d="M3 6h18"></path>
      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
    </svg>
    Delete
  </a>
  <a
    class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
    href="{% url 'projects:worlds:project-worlds' book.project.slug %}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2 h-5 w-5"
    >
      <circle cx="12" cy="12" r="10"></circle>
      <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20"></path>
      <path d="M2 12h20"></path>
    </svg>
    Worlds
  </a>
  <a
    class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
    href="{% url 'worlds:characters' book.project.slug %}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2 h-5 w-5"
    >
      <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
      <circle cx="12" cy="7" r="4"></circle>
    </svg>
    Characters
  </a>
  <a
    class="inline-flex items-center justify-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-primary-foreground shadow transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring"
    href="{% url 'worlds:project-magic-systems' book.project.slug %}"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="mr-2 h-5 w-5"
    >
      <path d="m6 15-4-4 6.75-6.77a7.79 7.79 0 0 1 11 11L13 22l-4-4 6.39-6.36a2.14 2.14 0 0 0-3-3L6 15"></path>
      <path d="m5 8 4 4"></path>
      <path d="m12 15 4 4"></path>
    </svg>
    Magic Systems
  </a>
    <div id="chapters" class="mt-6">
      {% if chapters %}
        <h3 class="text-lg font-semibold">Chapters</h3>
        <ul class="mt-2 list-disc list-inside">
          {% for chapter in chapters %}
            <li>
              <a hx-get="{% url 'books:chapter-detail' book.slug chapter.id %}" hx-target="#chapters" hx-swap="innerHTML" class="cursor-pointer text-blue-500">{{ chapter.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="">No chapters yet!</p>
      {% endif %}
    </div>
  </div>
</div>
