{% load compress %}
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ensure proper scaling on mobile -->
    <title>Sci-Fi Hub</title>
    {% include "htmx-cdn.html" %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/jpeg" href="{% static 'icon.jpeg' %}">

</head>
<body class=""> <!-- Set default background color -->

<div class="flex flex-col md:flex-row h-screen"> <!-- Flex container, column layout on mobile, row layout on medium screens and above -->
    <div class="w-full md:w-64 p-4 border-r md:block hidden">
        <h2 class="text-2xl font-semibold mb-6"><a href="{% url 'index' %}">Sci-Fi Hub</a></h2>
        <nav>
            <a class="flex items-center gap-2 mb-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" href="{% url 'projects:list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                    <path d="m16 6 4 14"></path>
                    <path d="M12 6v14"></path>
                    <path d="M8 8v12"></path>
                    <path d="M4 4v16"></path>
                </svg>
                <span>Projects</span>
            </a>
            <a class="flex items-center gap-2 mb-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" href="{% url 'books:list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                    <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"></path>
                </svg>
                <span>Books</span>
            </a>
            <a class="flex items-center gap-2 mb-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" href="{% url 'books:manuscripts' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                    <path d="M20 22h-2"></path>
                    <path d="M20 15v2h-2"></path>
                    <path d="M4 19.5V15"></path>
                    <path d="M20 8v3"></path>
                    <path d="M18 2h2v2"></path>
                    <path d="M4 11V9"></path>
                    <path d="M12 2h2"></path>
                    <path d="M12 22h2"></path>
                    <path d="M12 17h2"></path>
                    <path d="M8 22H6.5a2.5 2.5 0 0 1 0-5H8"></path>
                    <path d="M4 5v-.5A2.5 2.5 0 0 1 6.5 2H8"></path>
                </svg>
                <span>Manuscripts</span>
            </a>
            <a class="flex items-center gap-2 mb-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" href="{% url 'projects:worlds:list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" x2="22" y1="12" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>
                <span>Worlds</span>
            </a>
            <a class="flex items-center gap-2 mb-4 text-gray-700 dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-400" href="{% url 'worlds:magic-systems' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5">
                    <path d="m6 15-4-4 6.75-6.77a7.79 7.79 0 0 1 11 11L13 22l-4-4 6.39-6.36a2.14 2.14 0 0 0-3-3L6 15"></path>
                    <path d="m5 8 4 4"></path>
                    <path d="m12 15 4 4"></path>
                </svg>
                <span>Magic Systems</span>
            </a>
        </nav>
    </div>
    <div class="flex-1">
        <div id="theme-toggle" class="fixed top-4 right-4 z-50"> <!-- Theme toggle select box -->
            <select id="theme-select" class="p-2 bg-gray-200 dark:bg-gray-800 rounded">
                <option value="light">Light</option>
                <option value="dark">Night</option>
                <option value="evening">Evening</option>
                <option value="noon">Noon</option>
            </select>
        </div>

<style>
    /* Theme colors */
    .light {
        background-color: #f1f1f1; /* Light gray */
        color: #333; /* Dark text */
    }
    .dark {
        background-color: #333; /* Dark gray */
        color: #fff; /* Light text */
    }
    .evening {
        background-color: #ff8c00; /* Orange */
        color: #333; /* Dark text */
    }
    .noon {
        background-color: #FFF9B0; /* Yellow */
        color: #333; /* Dark text */
    }
</style>
<script>
    const themeToggle = document.getElementById('theme-select');
    const html = document.documentElement;

    themeToggle.addEventListener('change', () => {
        const selectedTheme = themeToggle.value;

        // Remove all existing theme classes first
        html.classList.remove('light', 'dark', 'evening', 'noon');

        // Add the selected theme class
        html.classList.add(selectedTheme);

        // Store the selected theme in localStorage
        localStorage.setItem('selectedTheme', selectedTheme);
    });

    // Initialize theme based on stored value in localStorage
    const storedTheme = localStorage.getItem('selectedTheme');
    if (storedTheme) {
        html.classList.add(storedTheme);
        themeToggle.value = storedTheme;
    }
</script>
        <div class="">
            {% if request.path != '/' %}
                <a href="javascript:history.back()">
                    <svg height="38" viewBox="0 0 48 48" width="38" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48h-48z" fill="none"/><path d="M40 22h-24.34l11.17-11.17-2.83-2.83-16 16 16 16 2.83-2.83-11.17-11.17h24.34v-4z"/></svg>
                </a>
            {% endif %}
            {% block base %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>
